@model TutorielAuto.TutorielAuto.Models.Tutoriel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tutoriel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
